@model TraineeTrackerApp.Models.Week

@{
    ViewData["Title"] = "Details";
}


<div>
    <h2>Week Start: @Html.DisplayFor(model => model.WeekStart) </h2>
    <p class="fs-5">
        <a href="@Html.DisplayFor(model => model.GitHubLink)" class="link-primary">Week Repo</a>
    </p>
    <hr />
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card border-dark mb-4">
                <div class="card-header spartapink text-white fs-4">
                    @Html.DisplayNameFor(model => model.Start)
                </div>
                <div class="card-body">
                    <p class="card-text"> @Html.DisplayFor(model => model.Start)</p>
                </div>
            </div>
            <div class="card border-dark mb-4">
                <div class="card-header spartapink text-white fs-4">
                    @Html.DisplayNameFor(model => model.Stop)
                </div>
                <div class="card-body">
                    <p class="card-text"> @Html.DisplayFor(model => model.Stop)</p>
                </div>
            </div>
            <div class="card border-dark mb-4">
                <div class="card-header spartapink text-white fs-4">
                    @Html.DisplayNameFor(model => model.Continue)
                </div>
                <div class="card-body">
                    <p class="card-text"> @Html.DisplayFor(model => model.Continue)</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 gap-5 d-flex flex-column text-center justify-content-center text-white">
            <div class="card rounded-pill" id="technical">
                <p class="fs-4 fw-bold card-header-pill mt-2">
                    @Html.DisplayNameFor(model => model.TechnicalSkill)
                </p>
                <p class="fs-4" id="technicalValue">
                    @Html.DisplayFor(model => model.TechnicalSkill)
                </p>
            </div>
            <div class="card rounded-pill" id="consultant">
                <p class="fs-4 fw-bold card-header-pill mt-2">
                    @Html.DisplayNameFor(model => model.ConsultantSkill)
                </p>
                <p class="fs-4" id="consultantValue">
                    @Html.DisplayFor(model => model.ConsultantSkill)
                </p>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/weekDetails.js"></script>
