@model IEnumerable<TraineeTrackerApp.Models.Week>

@{
    ViewData["Title"] = "Index";
}
<div class="mt-auto mb-auto">
    <h1>Index</h1>

<p>
        <a asp-action="Create" class="btn spartapink indexBtn">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WeekStart)
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekStart)
                </td>
                <td class="text-end">
                    <div>                        
                        <a class="btn spartapink indexBtn" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn spartapink indexBtn indexBtnDanger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
